<% @beers.each do |beer| %>
	
	<%= beer.name %> - <%= link_to "ja tomei", add_my_beers_path(:user_id => current_user.uid, :beer_id => beer.id) %><br />
	
<% end %>

<h2>My Beers</h2>
<% @mybeers.each do |beer| %>
	<li><%= beer.beer.name %></li>
<% end %>